<!DOCTYPE html>
<html lang=en-us>
<head>
{% include 'head.j2' %}
</head>
<body>
    {% include 'header.j2' %}
	
    <h2>Andrew Wintenberg</h2>
    <p>This is my site.</p>
    
    <p>Contact me here:</p>
    
    {% include 'contacts.j2' %}
    
    {% include 'footer.j2' %}
</body>
</html>