<!DOCTYPE html>
<html lang=en-us>
<head>
{% include 'head.j2' %}
</head>
<body>
    {% include 'header.j2' %}
	
    <h2>{{ content.get_page_info(page_id)['title'] }}</h2>
    
    {% include content.get_page_template(page_id) %}
    
    <ul>
    {% for sub_page_id in content.get_page_info(page_id).get('pages', []) %}
        <li><a href="{{ content.get_page_url(sub_page_id) }}">{{ content.get_page_info(sub_page_id)['title'] }}</a></li>
    {% endfor %}
    </ul>
    
    {% include 'footer.j2' %}
</body>
</html>